.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    /* Offset for fixed navbar */
}